# ==========================================
# Archivo .gitignore para Angular (WebStorm)
# ==========================================

# Dependencias descargadas de Node (¡NUNCA SE SUBEN!)
node_modules/
dist/
.angular/

# Configuración local de WebStorm e IDEs
.idea/
.vscode/
*.suo
*.user

# Archivos de bitácora de errores (Logs)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuraciones del sistema operativo
.DS_Store
Thumbs.db
